body {
    background-color: beige;
}

form {
    background-color: #960101;
    width: 400px;
    margin: 0 auto;
}

form section {
    width: 250px;
    margin: 0 auto;
}

input {
    width: 150px;
}

label {
    display: inline-block;
    width: 50px;
}